<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
    	Connected user:
    	<button id="who">who?</button>
    	<hr>
    	<ul id="users">
    	</ul>
    </p>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
	    var socket = io.connect('');

	    socket.on('connect', function(data) {
	    	socket.emit('ua', { 'ua': navigator.userAgent })
	    });

	    socket.on('connected', function(data) {
	    	//console.log(data);
	    	$('li').remove();
	    	for (k in data) {
	    		$('ul').append('<li>' + k + ':' + data[k] + '</li>')
	    	}
	    });
	
		$(document).ready(function() {
			$('#who').click(function(e) {
				socket.emit('who');
			})
		});
	</script>

  </body>
</html>
